@import "../../../variables.scss";

.title {
  font-weight: 600;
  color: inherit;
}

.description {
  font-weight: 400;
  color: $darkgray-color;
}

.cardHowItWorks {
  display: grid;
  gap: 10px;

  .textContainer {
    max-width: 280px;
  }

  .title {
    font-size: 16px;
    line-height: 24px;
  }
  
  .imageContainer {
    width: 72px;
    height: 72px;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
  }

  .description {
    font-size: 14px;
    line-height: 24px;
  }

  @media (max-width: 768px) {
    display: flex;

    .textContainer {
      max-width: 270px;
    }
  }
}

.cardThirdBlock {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 32px;

  .textContainer {
    display: grid;
    gap: 30px;
  }

  .title {
    font-size: 32px;
    line-height: 40px;
  }

  .descriptionContainer {
    display: grid;
    gap: 20px;
  }

  .description {
    font-size: 16px;
    line-height: 28px;
  }

  .imageContainer {
    width: 100%;
    max-width: 582px;
    aspect-ratio: 4 / 3;
    order: 2;
    position: relative;

    img {
      position: absolute;
      inset: 0;
      object-fit: cover;
    }

    .image1 {
      z-index: 0;
    }

    .image2 {
      z-index: 1;
    }
  }

  @media (max-width: 375px) {
    display: flex;
    flex-direction: column;

    .textContainer {
      order: 2;
    }
  }
}

.cardFeedback {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  gap: 10px;
  height: 316px;
  max-width: 341px;
  background-color: $white-color;
  padding: 20px;

  .textContainer {
    display: grid;
  }

  .title {
    font-size: 16px;
    line-height: 24px;
  }

  .description {
    font-size: 12px;
    line-height: 16px;
  }

  .imageContainer {
    width: 44px;
    height: 44px;
  }

  .text {
    grid-column: span 2;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}



