.button {
  background-color: transparent;
  border: none;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cross {
  position: relative;
  width: 20px;
  height: 20px;

  .right,
  .left {
    position: absolute;
    inset: 0;
  }
}

