@import "../../../variables.scss";

.form {
  display: grid;
  gap: 40px;
  width: clamp(18rem, 11.6rem + 32vw, 50rem);
  align-items: center;

  button {
    height: 64px;
    width: clamp(18rem, 16.8rem + 6vw, 24rem);
    background-color: $blue-color;
    color: $white-color;
  }
  
  button:hover {
    background-color: $blue_hover-color; 
  }
}

.formDesktop,
.formTablet {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.formMobile,
.formSmallMobile {
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
}

