@import "../../variables.scss";

.itemDesktop {
  max-width: 1216px;
  margin: 40px auto;
  padding-inline: 30px;
}

.itemOther {
  margin: 40px 20px;
}

.itemColor {
  background-color: $extralightgray-color;
  padding-block: 10px;
}
