@import "../../variables.scss";

.itemDesktop {
  max-width: 1216px;
  margin: 40px auto;
}

.itemTablet {
  margin: 20px 10px;
}

.itemMobile {
  margin: 15px 5px;
}

.itemColor {
  background-color: $extralightgray-color;
  padding-block: 10px;
}
