@import "../../variables.scss";

.container {

  .item {
    max-width: 1216px;
    margin: 40px auto;
  }

  .itemColor {
    background-color: $extralightgray-color;
    padding-block: 40px;
    margin: 40px auto;
  }

  @media (max-width: 768px) {
    margin-inline: 10px;
  }
  
}