@import "../../variables.scss";

.header {
  color: $white-color;
  min-height: 100vh;
  background-color: $blue-color;
  background-image: url('../../assets/images/header_image-desktop.png');
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: start;
}

.headerMobile {
  min-height: 100vh;
  background-color: $white-color;
}

.aside {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 748px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 52px;
  font-weight: 600;
  line-height: 64px;
}

.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.button {
  border: none;
  border-radius: 5px;
  background-color: $lightgray-color;
  color: $black-color;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-block-start: 50px;
}

.list {
  display: flex;
  flex-direction: column;
  background-color: $white-color;

  li {
    border-top: 1px solid $lightgray-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    a {
      color: $gray-color;
      text-decoration: none;
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
    }

    &:last-child {
      border-bottom: 1px solid $lightgray-color;
    }
  }
}

.hidden {
  display: none;
}

.visibility {
  display: block;
}


@media (max-width: 768px) {
  .header {
    background-image: url('../../assets/images/header_image-tablet.png');
  }

  .title {
    font-size: 32px;
    line-height: 40px;
  }

  .text {
    font-size: 16px;
    line-height: 28px;
  }

  .aside {
    justify-content: space-between;
  }
}

@media (max-width: 375px) {
  .header {
    background-image: url('../../assets/images/header_image-mobile.png');
  }

  .title {
    font-size: 24px;
    line-height: 32px;
  }
}