@import "../../variables.scss";

.header {
  color: $white-color;
  min-height: 100vh;
  background-color: $blue-color;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: start;
}

.headerDesktop {
  background-image: url('../../assets/images/header_image-desktop.png');
}

.headerTablet {
  background-image: url('../../assets/images/header_image-tablet.png');
}

.headerMobile {
  background-image: url('../../assets/images/header_image-mobile.png');
}

.headerDropDown {
  background-color: $white-color;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 63px;
  padding-inline: 10px;
}

.asideMenuOpen {
  background-color: $white-color;
}

.aside {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.asideDesktop {
  justify-content: space-around;
}

.asideOther {
  justify-content: space-between;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 748px;
  margin: 0 auto;
  text-align: center;
}

.menuButton {
  background-color: transparent;
  border: none;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cross {
  position: relative;
  width: 20px;
  height: 20px;

  .right,
  .left {
    position: absolute;
    inset: 0;
  }
}

.title {
  font-weight: 600;
}

.titleDesktop {
  font-size: 52px;
  line-height: 64px;
}

.titleTablet {
  font-size: 32px;
  line-height: 40px;
}

.titleMobile {
  font-size: 24px;
  line-height: 32px;
}

.text {
  font-weight: 400;
}

.textDesktop {
  font-size: 18px;
  line-height: 32px;
}

.textOther {
  font-size: 16px;
  line-height: 28px;
}

.button {
  border: none;
  border-radius: 5px;
  background-color: $lightgray-color;
  color: $black-color;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-block-start: 50px;
}