@import '../../../variables.scss';

.list {
  list-style: none;
  display: flex;
  gap: 20px;

  a {
    font-family: $font;
    color: $white-color;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

    &:hover,
    &.active {
      border-bottom: 1px solid $white-color;
    }
  }
}