@import "../../../variables.scss";

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font;
  color: $black-color;
}

.title {
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
}

.list {
  max-width: 1216px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 40px;
}

@media (max-width: 768px) {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 375px) {
  .list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .title {
    font-size: 24px;
    line-height: 32px;
  }
}