@import "../../../variables.scss";

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $black-color;
  gap: 40px;
}

.title {
  font-weight: 600;
}

.titleDesktop {
  font-size: 40px;
  line-height: 56px;
}

.titleMobile {
  font-size: 24px;
  line-height: 32px;
}

.articleHowItWorks {
  .listDesktop {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 40px;
  }
  
  .listTablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  .listMobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

.articleFeedback {
  .listDesktop {
    display: flex;
    gap: 30px;
  }

  .listTablet {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .listMobile {
    display: grid;
    grid-template-columns: 1fr;
  }
}

