$blue-color: #2A6CEA;
$blue_hover-color: #397DFF;
$white-color: #FFFFFF;
$black-color: #191C1F;
$gray-color: #83898F;
$lightgray-color: #ECEFF2;
$darkgray-color: #5E646A;
$midgray-color: #C2C8CD;
$extralightgray-color: #F6F8FA;
$red-color: #F13636;
$font: 'GraphikLCG', 'Arial', 'Verdana', sans-serif;