$blue-color: #2A6CEA;
$white-color: #FFFFFF;
$black-color: #191C1F;
$gray-color: #83898F;
$lightgray-color: #ECEFF2;
$darkgray-color: #5E646A;
$extralightgray-color: #F6F8FA;
$font: 'GraphikLCG', 'Arial', 'Verdana', sans-serif;